/* Basic Reset  */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #1e183d;
  color: #fff;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* filter: drop-shadow(10px rgba(160, 19, 19, 0.5));  */
  box-shadow: 0px 4px 10px rgba(199, 48, 48, 0.5); 
  background: radial-gradient(
      circle,
      rgba(94, 30, 94, 0.5) 10%,
      transparent 80%
    ),
    #031b30;
    
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-links a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #334155;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.new-btn {
  background-color: #6366f1;
  color: #ffffff;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-btn:hover {
  background-color: #4f46e5;
}

.icon {
  font-size: 20px;
  color: #cbd5e1;
  cursor: pointer;
}

.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* Hamburger Menu  */
.hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

/* main section  */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}

.intro {
  max-width: 40%;
  margin-left: 30px;
  padding: 20px;
}

.intro h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.intro h2 {
  font-size: 2rem;
  line-height: 1.3;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.highlight {
  background: linear-gradient(
    45deg,
    #1a1add,
    #2307c4,
    #d14f03,
    #015201,
    #155a03
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.highlights {
  background: linear-gradient(45deg, #b90d80, #d14f03, #015201, #155a03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
.social-icons:hover {
  /* transform: scale(1.5);  */
}

/* Icon styling  */
#bxl-gmail {
  background: linear-gradient(
    45deg,
    #1a1add,
    #2307c4,
    #d14f03,
    #015201,
    #155a03
  );

  -webkit-background-clip: text;
  /* Ensures background clips to text  */
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.bxl-github:hover {
  transform: scale(1.5);
}
.bxl-linkedin-square:hover {
  transform: scale(1.5);
}
.bxl-upwork:hover {
  transform: scale(1.5);
}
.bxl-twitter:hover {
  transform: scale(1.5);
}
#bxl-gmail:hover {
  transform: scale(1.5);
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.contact-btn,
.resume-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}


.contact-btn {
  position: relative;
  background-color: none; 
  border-radius: 30px;
  font-weight: bold;
  z-index: 1;
  overflow: hidden;
}

.contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(90deg, #db6c04, #0d34df); 
  z-index: -1;
  transition: opacity 0.3s ease;
}

.contact-btn::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: transparent;
  border-radius: 7px;
  z-index: -1;
}

.contact-btn:hover::before {
  opacity: 1;
}

.contact-btn i {
  margin-left: 8px; 
}
.contact-btn:hover {
  transform: scale(1.05);
}

#contact-person {
  border-radius: 50%;
  margin-left: 20px;
  color: #d0cfdb;
  font-size: 20px;
  align-items: center;
}

#contact-person:hover {
  transform: scale(1.05);
}

.resume-btn {
  background: linear-gradient(45deg, #f97316, #8b5cf6, #1a1add, #d14f03); 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  gap: 10px;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.7s ease;
}

.resume-btn i {
  margin-left: 10px;
  transition: transform 0.7s ease, color 0.7s ease;
}

.resume-btn a {
  text-decoration: none;
  color: #ffffff;
}

.resume-btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
  background-color: transparent;
}

.resume-btn:hover i {
  transform: translateX(5px);
              
  color: #c29e1d;
  /* Change icon color  */
}

.code-block {
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  max-width: 45%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0, 5);
  flex: 1;
}

.code-header {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4ecf8;
  justify-content: flex-start;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

pre {
  
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(87, 188, 206, 0.5);
  /* overflow-x: auto;  */
}

/* Prism.js Code Block Styling  */
/* .code-block {
  background-color: transparent;
  padding: 20px;
  /* border-radius: 8px;  *
  font-family: "Courier New", Courier, monospace;
  color: #2b6dbe;
  max-width: 45%;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);  *
  position: relative;
  
} */

.code-header {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cbd0d8;
  justify-content: flex-start;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
}

.dot.red {
  background-color: #ff5f56;
}

.dot.yellow {
  background-color: #ffbd2e;
}

.dot.green {
  background-color: #27c93f;
}

pre {
  color: #e2e8f0;
  background-color: #070c14;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  border-radius: 8px;
  overflow-x: auto;
  white-space: pre-wrap;
  animation: typewriter 4s steps(40, end);
}
/* ABOUT ME  */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);  
}
.about-text{
  flex: 1;
    padding: 20px;
    /* background-color: #1e293b;  */ 
    border-radius: 8px;
    color: #cbd5e1;
    max-width: 600px;
    /* box-shadow: 0px 4px 10px rgba(98, 81, 206, 0.5);  */ 
    /* margin-top: 20%;  */ 
    /* margin-left: 10%;  */ 
}
.about-text h2 { 
  margin-bottom: 20px;
  color: #00ffcc;
}
.about-text p {
  line-height: 1.6;
  color: #cbd5e1;
}
.about-image {
  position: relative;
  flex: 1;
  text-align: center;
  /* max-width: 300px;  */ 
}
.about-image img {
  width: 100%;
  /* height: auto;  */ 
  border-radius: 10px;
  /* box-shadow: 0px 4px 10px rgba(98, 81, 206, 0.5);  */ 
  
}
.about-me-label {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: rotate(90deg);
  background-color:#4d008a;
  color: whitesmoke;
  padding:  10px 20px;
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 7px;
  transform-origin: right center;

}
/* EXPERIENCE  */

.experience-container {
  padding: 20px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  
}

.heading1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: wheat;
  margin-bottom: 20px;
  text-transform: uppercase;
  
}

.prev_jobs {
  display: grid;
  gap: 20px; 
}
.job{
  border-radius: 10PX;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0px 4px 10px  rgba(255, 255, 255, 0.1);
}

/* Individual job styling  */ 
/* .job1, .job2, .job3 {
  background: linear-gradient(145deg, #1f2937, #111827);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 1px 3px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;  
}
.job1:hover,.job2:hover, .job3:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}  */
.icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.icon h3{
  font-size: 18px;
  margin: 0;
}
.location{
  background-color: #ff1744 ;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}
.company {
  font-size: 14px;
  color: #aaaaaa;
  margin: 10px 0;
  text-decoration: none;
}
.description {
  font-size: 14px;
  line-height: 1.6;
}
.year {
  font-size: 11px;
  font-style: italic;
  color: #d1dedd;
  margin-bottom: 10px;
  text-align: right;
  direction: rtl; 
  animation: flash 1s infinite;
}
.icon:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* skills  */

.slider{
  height: 25px;
  margin: auto;
  position: relative;
  width: 2%;
  display: grid;
  place-items: center;

}
.slider-track{
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}
.slider-track:hover{
  animation-play-state: paused;
}
/* enable scroll  */ 
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;

}
img {
  width: 100%;
  transition: transform 1s;
}
img:hover{
  transform: translateZ(20px);
}
.slider::before,
.slider::after{
  background-color: linear-gradient(to right, rgba(255,255,255,1) 0%,
  rgba(255,255,255,0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before{
  left: 0;
  top: 0;
}
.slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
/* form{
  display: block;
} */
/* contact  */
/* General Styling */
/* Container and Heading */

/* Contact Container */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-form,
.contact-address {
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  min-width: 300px;
  color: #ffffff;
}

.contact-form h3,
.contact-address h3 {
  margin-bottom: 20px;
  color: #ffffff;
}

/* Form Styling */
.form-data form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Flex Row for Name and Phone */
.form-flex {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1; /* Ensures equal width for Name and Phone fields */
  display: flex;
  flex-direction: column;
}

/* Label Styling */
label {
  font-size: 14px;
  color: #84a0c6; /* Light blue color for labels */
  margin-bottom: 5px;
}

/* Input and Textarea Styling */
input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  background-color: #2b2b2b;
  border: 1px solid #444;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #84a0c6; /* Blue border on focus */
}

textarea {
  resize: vertical;
  height: 100px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-flex {
    flex-direction: column; /* Stack fields vertically on smaller screens */
  }
}

/* Footer Styling */
.footer {
  background-color: #111; /* Dark background */
  color: #fff; /* White text */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-content a {
  color: #00ffcc; /* Aqua link color */
  text-decoration: none;
}

.footer-actions {
  display: flex;
  gap: 10px;
}

.footer-button {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.footer-button:hover {
  background-color: #00ffcc;
  color: #000;
}

/* Scroll to Top Button */
.scroll-top-btn {
  background: linear-gradient(to right, #ff00cc, #8000ff); /* Gradient background */
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}

.scroll-top-btn:hover {
  transform: scale(1.1);
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* flash year in experience  */ 
@keyframes flash {
  0%, 100% {
      color: #d1dedd;
  }
  50% {
      color: #a8200e; /* Flash to red  */ 
  }
}


@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

pre::after {
  content: "|";
  animation: blink 0.9s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}  * 

/* Media Query for Small Screens  */ 
@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #1e293b;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
    height: 930px;
  }

  .nav-links.show {
    display: flex;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center; 
    
  }
  .intro, .code-block{
    width: 90%;     
  }
  .intro h1{
    font-size: 2rem;
  }
  .intro h2{
    font-size: 1.5rem;
  }
}
/* Layout for larger screens  */
@media screen and (min-width: 768px) {
  .prev_jobs {
      grid-template-columns: repeat(3, 1fr); 
  }
}

/* Layout for smaller screens  */
@media screen and (max-width: 767px) {
  .prev_jobs {
      grid-template-columns: 1fr; 
  }
}
